html, body, div,em, ol, ul, li,footer, header
{
    margin: 0;padding: 0;
    border: 0;outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body
{
	background:url("../mainpageImages/bg3.jpg") center no-repeat rgba(43, 88, 107, 0.5);
	background-size:cover;height:100%;
	opacity:0;
}
.darkbody
{
	background:rgba(0,0,0,0.5);
	position:fixed;
	top:0;right:0;bottom:0;left:0;width:100%;
	height:100%;z-index:2;
}
a
{
	color:#82c5e1;
	text-decoration:none;
}
a:hover
{
	color:##F5746C;
	opacity:.8;
	border-bottom:1px dotted #6caac5;
	padding-bottom:1px;
}
#container
{
	width:90%;
	display:block;
	margin:0 auto;
	max-width:960px;
}
header
{
	width:100%;
	margin-top:30px;
}
#tline
{
	width:100%;
	height:10px;
	background:rgba(43,88,107,0.5);
}
#logo
{
	font-size:4em;
	color:#F5746C;
	text-shadow:2px 2px 0 #0b3141;
	float:left;
	padding-right:50px;
	border-right:1px dotted #446c7d;
	padding-bottom: 20px;
	height:60px;
}

#subl
{
	float:left;
	margin-left:50px;
	margin-top:10px;
	font-size:20px;
	font-style:italic;
	color:#3D1205;
	line-height:20px;
}

#addnew
{
		position:relative;
		right:0;
		cursor:pointer;
		float:right;
		width:200px;
		height:35px;
		background:rgba(43,88,107,0.5);
		text-align:center;
		padding-top:17px;
		color:#3D1205;
		font-weight:700;
		text-transform:uppercase;
		-webkit-transition:.05s all ease-in;
		-moz-transition:.05s all ease-in;
		-o-transition:.05s all ease-in;
		transition:.05s all ease-in;
}
#addnew:hover
{
		background:#F5746C;
		color:white;
}
#addnew:active
{
		position:relative;
		top:2px;
}
footer
{	
	position:relative;
	bottom:-90px;
	width:100%;
	height:40px;
	clear:both;
	background:rgba(43,88,107,0.5);
	color:#000000;
}
footer #footer
{
	padding-top:12px;
	width:80%;
	max-width:1560px;
	margin:auto;
}
footer #by
{
		float:left;
}
footer #by a
{
	font-weight:400;
	color:#ffffff;
	text-decoration:none;
}
footer #about
{
		float:right;
		cursor:pointer;
		color:#ffffff;
}
#about:hover,#by:hover
{
	border-bottom:1px dotted #ffffff;
	padding-bottom:1px;
}


.requestform
{
	display:none;
	z-index:2;
	width:600px;
	height:600px;
	background:rgba(18,76,102,0.7);
	border:10px solid #82c5e1;
	box-shadow:0 10px 0 rgba(0,0,0,0.5);
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-300px;
}
.whatsthis
{
	display:none;
	z-index:2;
	width:600px;
	height:400px;
	background:rgba(18,76,102,0.7);
	border:10px solid #82c5e1;
	box-shadow:0 10px 0 rgba(0,0,0,0.5);
	position:absolute;top:50%;left:50%;margin-top:-200px;margin-left:-300px;
}
.wthead
{
	width:100%;
	height:120px;
	border:10px solid #82c5e1;
	background:rgba(18,76,102,0.5);
	box-shadow:0 5px 0 rgba(0,0,0,0.5);
	position:relative;
	top:-10px;left:-10px;
}
.wtheadinfo
{
	float:left;
	margin-top:35px;
	margin-left:40px;
}
.wtheadinfo
{
	font-size:60px;
	float:left;
	color:#F5746C;
}
.wtheadinfo h1
{
	float:left;margin-top:7px;
	margin-left:20px;font-size:34px;border-bottom:2px dotted #82c5e1;
	padding-bottom:7px;color:white;
}
#wtmain
{
	clear:both;width:500px;position:relative;
	margin-top:170px;margin-left:40px;color:white;
	line-height:22px;
}
#wtmain p:first-child
{
	border-bottom:2px dotted white;
	padding-bottom:20px;
	margin-bottom:20px;
}

#tlast
{
	background:url("../mainpageImages/cut.png") repeat-x center;
	width:100%;
	height:18px;
	clear:both;
	float:left
	margin-top:20px;
	opacity:.7;
}
#content
{
	clear:both;
}
#qs
{
	float:left;
	margin-top:10px;
	background:rgba(43,88,107,0.5);
	padding:20px 0 20px 20px;
	font-size:24px;
	width:100%;
	color:#AA122A;
}
ul#mainqs
{
	clear:both;
	list-style:none;
	width:100%;
	position:relative;
	margin-left:0;
	left:0;
	top:20px;
}
ul#mainqs li
{
	float:left;
	width:260px;
	height:260px;
	-webkit-border-radius:150px;
	-moz-border-radius:150px;
	border-radius:3000px;
	background:#F5746C;
	border:10px solid rgba(43,88,107,0.7);
	margin-left:33px;
	margin-top:35px;
	cursor:pointer;
	box-shadow:0 0 0 10px rgba(43,88,107,0.8) inset;
	-webkit-transition:.2s all ease-in;
	-moz-transition:.2s all ease-in;
	-o-transition:.2s all ease-in;
	transition:.2s all ease-in;
}
ul#mainqs li:hover
{
	background:white;
	border-color:#0e3d51;
}
ul#mainqs li:hover .ans span:first-child
{
	font-size:80px;
	color:##F5746C;
	position:relative;top:-10px;
	font-size:60px;
}
ul#mainqs li:hover .ans span:last-child
{
	opacity:1;
}
ul#mainqs li .ans
{
	text-align:center;
	margin-top:85px;
}
ul#mainqs li .ans span:first-child
{
	display:block;
	font-size:80px;
	color:#124c66;
	-webkit-transition:.1s all ease-in;
	-moz-transition:.1s all ease-in;
	-o-transition:.1s all ease-in;
	transition:.1s all ease-in;
}
ul#mainqs li .ans span:last-child
{
	font-family:Roboto;
	position:relative;
	color:#335d74;
	font-size:20px;
	letter-spacing:-1px;
	font-weight:700;
	text-transform:uppercase;
	padding-bottom:10px;
	border-bottom:3px dotted #F5746C;
	opacity:0;
}